In [19]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur - prev) / prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

In [11]:
os.mkdir('GDP Growth Indivisual/')
for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name']==country_name]
    fig = px.line(df, x = 'Year',y = 'GDP',title=country_name)
    pyo.plot(fig ,filename = 'GDP Growth Indivisual/'+country_name+'.html',auto_open=False)

IndentationError: unexpected indent (3264946616.py, line 4)

In [27]:
c=0
for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name']==country_name]
    if(len(df_pr)==57):
       c+=1
print(c)

120

In [24]:
dfs =[]
for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name']==country_name]
    if(len(df_pr)==57):
        # print(df_pr)
      dfs.append(df_pr)
# print(dfs)
df_pr = pd.concat(dfs,axis=0)
fig = px.line(df_pr, x='Year',y='GDP',title='GDP Growth',color='Country Name')
pyo.plot(fig ,filename = 'GDP Growth.html',auto_open=False)

'GDP Growth.html'