In [1]:
import pandas as pd

In [2]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\sun\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sun\anaconda3\lib\site-packages (from plotly) (8.2.2)

In [3]:
import plotly.express as px

In [4]:
import plotly.offline as pyo

In [5]:
df = pd.read_csv('gdp.csv')

In [6]:
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [7]:
final_data = []

for country_name in df['Country Name'].unique():
    
    df_pr = df[df['Country Name'] == country_name]

    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):

        prev = data[i-1][3]
        cur = data[i][3]

        gdp_change.append(round(((cur - prev) / prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)

In [8]:
df

      Country Name Country Code  Year         Value    GDP
0       Arab World          ARB  1968  2.576068e+10   0.00
1       Arab World          ARB  1969  2.843420e+10  10.38
2       Arab World          ARB  1970  3.138550e+10  10.38
3       Arab World          ARB  1971  3.642691e+10  16.06
4       Arab World          ARB  1972  4.331606e+10  18.91
...            ...          ...   ...           ...    ...
11502     Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503     Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504     Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505     Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506     Zimbabwe          ZWE  2016  1.661996e+10   1.93

[11507 rows x 5 columns]

In [11]:
df_pr = df[df['Country Name']=='World']

In [12]:
fig = px.line(df_pr,x='Year',y='Value',title='World GDP Analysis')

In [14]:
pyo.plot(fig,filename='WorldGDPs.html')

'WorldGDPs.html'