In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('googleplaystore.csv')

In [11]:
data['App'].count()

10841

In [12]:
data['App'].unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite – FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)

In [13]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [14]:
data = data.values

array([['Photo Editor & Candy Camera & Grid & ScrapBook',
        'ART_AND_DESIGN', 4.1, ..., 'January 7, 2018', '1.0.0',
        '4.0.3 and up'],
       ['Coloring book moana', 'ART_AND_DESIGN', 3.9, ...,
        'January 15, 2018', '2.0.0', '4.0.3 and up'],
       ['U Launcher Lite – FREE Live Cool Themes, Hide Apps',
        'ART_AND_DESIGN', 4.7, ..., 'August 1, 2018', '1.2.4',
        '4.0.3 and up'],
       ...,
       ['Parkinson Exercices FR', 'MEDICAL', nan, ...,
        'January 20, 2017', '1.0', '2.2 and up'],
       ['The SCP Foundation DB fr nn5n', 'BOOKS_AND_REFERENCE', 4.5, ...,
        'January 19, 2015', 'Varies with device', 'Varies with device'],
       ['iHoroscope - 2018 Daily Horoscope & Astrology', 'LIFESTYLE',
        4.5, ..., 'July 25, 2018', 'Varies with device',
        'Varies with device']], dtype=object)

# Filtering Category With ART_AND_DESIGN

In [123]:
filter_data = data[data['Category']=='ART_AND_DESIGN']
filter_data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7174,Easy DIY CD Craft Ideas,ART_AND_DESIGN,NaN,7,5.6M,"5,000+",Free,0,Everyone,Art & Design,"May 30, 2018",1.0,2.3 and up
8679,Dp for girls,ART_AND_DESIGN,4.2,175,8.2M,"50,000+",Free,0,Everyone,Art & Design,"May 26, 2017",1.2,4.0.3 and up
8712,Name Art DP - Focus n Filter Text 2018,ART_AND_DESIGN,4.3,132,7.7M,"10,000+",Free,0,Everyone,Art & Design,"January 4, 2018",1,4.1 and up
8871,Test Application DT 02,ART_AND_DESIGN,NaN,0,1.2M,0+,Free,0,Everyone,Art & Design,"March 14, 2017",4.0,4.2 and up
8888,Spring flowers theme couleurs d t space,ART_AND_DESIGN,5.0,1,2.9M,100+,Free,0,Everyone,Art & Design,"April 18, 2018",1.0.2,4.0 and up

# Accessing column inside ART_AND_DESIGN

In [152]:
review_size = filter_data.loc[:,['Reviews','Size']]

In [153]:
review_size

     Reviews  Size
0        159   19M
1        967   14M
2      87510  8.7M
3     215644   25M
4        967  2.8M
...      ...   ...
7174       7  5.6M
8679     175  8.2M
8712     132  7.7M
8871       0  1.2M
8888       1  2.9M

[65 rows x 2 columns]

# Converting All Reviews Column into Numeric Value

In [168]:
review_size['Reviews'] = pd.to_numeric(review_size['Reviews'], errors='coerce')

In [88]:
# review_size['Size'] = pd.to_numeric(review_size['Size'], errors='coerce')

# Finding Values by Conditions in Reviews Column

In [167]:
large_App_r = review_size[review_size['Reviews'] > 132]
large_App_r

      Reviews  Size
0         159  19.0
1         967  14.0
2       87510   8.7
3      215644  25.0
4         967   2.8
5         167   5.6
6         178  19.0
7       36815  29.0
8       13791  33.0
10      13880  28.0
11       8788  12.0
12      44829  20.0
13       4326  21.0
14       1518  37.0
16       3632   5.5
18     194216  39.0
19     224399  31.0
20        450  14.0
21        654  12.0
22       7699   4.2
25        192   6.0
26      20260  25.0
27        203   6.1
28        136   4.6
29        223   4.2
30       1120   9.2
31        227   5.2
32       5035  11.0
33       1015  11.0
34        353   4.2
35        564   9.2
36       8145  24.0
37      36639   NaN
38        158  11.0
39        591   9.4
41        176  10.0
42     295221   NaN
43       2206   1.2
45     174531  24.0
46       1070  26.0
48        845   7.9
3982      253   3.7
4241   295237   NaN
4749     5754   4.4
4755      801   3.5
4759     1216   8.6
4764      149   3.5
5179      486   5.9
8679      175   8.2

# Finding Null Values in Reviews column of Category ART_AND_DESIGN

In [166]:
nan_values_in_review = large_App_r['Reviews'].isna().sum()
nan_values_in_review
# large_App['Reviews'].dropna()
## large_App.dropna(subset=['Reviews'],inplace=True)

0

# Finding Values by Conditions in Size Column

In [157]:
large_App_s = review_size[review_size['Size'] == '25M']
large_App_s

      Reviews Size
3      215644  25M
26      20260  25M
5254       48  25M

# Converting Size Column into Numeric Value

In [158]:
review_size['Size'] = pd.to_numeric(review_size['Size'].str.replace('M',''), errors='coerce')

# Finding Value by Conditions in Size Column

In [159]:
large_App_s = review_size[review_size['Size'] > 20]
large_App_s

      Reviews  Size
3      215644  25.0
7       36815  29.0
8       13791  33.0
10      13880  28.0
13       4326  21.0
14       1518  37.0
18     194216  39.0
19     224399  31.0
24        118  23.0
26      20260  25.0
36       8145  24.0
45     174531  24.0
46       1070  26.0
5254       48  25.0

# Finding Mean Value of Review Column

In [165]:
mean_reviews = large_App_s['Reviews'].mean()
mean_reviews

64911.5

In [11]:
df = data.head(4)

In [12]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up

In [14]:
data = pd.DataFrame(df)

In [15]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up

In [16]:
data['Category']

0    ART_AND_DESIGN
1    ART_AND_DESIGN
2    ART_AND_DESIGN
3    ART_AND_DESIGN
Name: Category, dtype: object

In [17]:
data['Reviews']

0       159
1       967
2     87510
3    215644
Name: Reviews, dtype: object

In [18]:
data.describe()

         Rating
count  4.000000
mean   4.300000
std    0.365148
min    3.900000
25%    4.050000
50%    4.300000
75%    4.550000
max    4.700000

In [20]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [24]:
data['App'][3]

'Sketch - Draw & Paint'

In [25]:
for i in data.columns:
    print(i)

App
Category
Rating
Reviews
Size
Installs
Type
Price
Content Rating
Genres
Last Updated
Current Ver
Android Ver

In [26]:
for i in data.columns:
    print(data[i][2])

U Launcher Lite – FREE Live Cool Themes, Hide Apps
ART_AND_DESIGN
4.7
87510
8.7M
5,000,000+
Free
0
Everyone
Art & Design
August 1, 2018
1.2.4
4.0.3 and up