In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sun\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\sun\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sun\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sun\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sun\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sun\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
lst = [1,2,3,4,5]

In [5]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [6]:
pd.array(lst)

<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64

In [7]:
pd.DataFrame([lst,lst,lst])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [12]:
df = pd.DataFrame([lst,lst,lst,lst,lst], columns=['A','B','C','D','E'],index=[2,1,0,3,4])

In [13]:
df

   A  B  C  D  E
2  1  2  3  4  5
1  1  2  3  4  5
0  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5

In [14]:
del df