In [25]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

In [2]:
df = pd.read_csv('gdp.csv')

In [3]:
df

      Country Name Country Code  Year         Value
0       Arab World          ARB  1968  2.576068e+10
1       Arab World          ARB  1969  2.843420e+10
2       Arab World          ARB  1970  3.138550e+10
3       Arab World          ARB  1971  3.642691e+10
4       Arab World          ARB  1972  4.331606e+10
...            ...          ...   ...           ...
11502     Zimbabwe          ZWE  2012  1.424249e+10
11503     Zimbabwe          ZWE  2013  1.545177e+10
11504     Zimbabwe          ZWE  2014  1.589105e+10
11505     Zimbabwe          ZWE  2015  1.630467e+10
11506     Zimbabwe          ZWE  2016  1.661996e+10

[11507 rows x 4 columns]

In [5]:
df_pr = df[df['Country Name']=='India']

In [12]:
fig = px.line(df_pr, x='Year',y='Value',title='India GDP analysis')

In [15]:
pyo.plot(fig,filename='India.html',auto_open=False)

'India.html'

## GDP of Each Country

In [26]:
os.mkdir('GDP Indivisual')
for country_name in df['Country Name'].unique():
     
    df_pr = df[df['Country Name'] == country_name]
     
    fig = px.line(df_pr, x = 'Year',y = 'Value',title=country_name + 'GDP analysis')
    pyo.plot(fig ,filename = 'GDP Indivisual/'+country_name+'.html',auto_open=False)

## GDP of Each Country WRT 80T

In [27]:
os.mkdir('GDP Individual WRT World')
for country_name in df['Country Name'].unique():
     
    df_pr = df[df['Country Name'] == country_name]
     
    fig = px.line(df_pr, x = 'Year',y = 'Value',title=country_name + 'GDP analysis',range_y = [0,80000000000000])
    pyo.plot(fig ,filename = 'GDP Individual WRT World/'+country_name+'.html',auto_open=False)