# Measure of Shape

In [5]:
import pandas as pd

In [6]:
import seaborn as sns

In [7]:
df = sns.load_dataset("mpg")

In [8]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [10]:
df["mpg"].skew()

0.45706634399491913

In [14]:
df["model_year"].skew()

0.01153459401509278

In [15]:
df["horsepower_new"] = df["horsepower"]**(1/2)

In [10]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_new
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,11.401754
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,12.845233
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,12.247449
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,12.247449
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,11.832160

In [16]:
df["horsepower"].skew()

1.0873262824048695

In [17]:
df["horsepower_new"].skew()

0.7327195325530649