In [1]:
import pandas as pd

In [2]:
import numpy as numpy

In [3]:
from sklearn.impute import SimpleImputer

In [5]:
df = pd.read_csv("Data.csv")

In [6]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
imputer = SimpleImputer(strategy = 'most_frequent')
imputer.fit(df.iloc[:,:1].values)

SimpleImputer(strategy='most_frequent')

In [8]:
df.iloc[:,:1] = imputer.transform(df.iloc[:,:1].values)

In [10]:
df.iloc[:,:1]

   Country
0   France
1    Spain
2   France
3    Spain
4  Germany
5   France
6    Spain
7   France
8  Germany
9   France

In [11]:
df.iloc[:,3:]

  Purchased
0       Yes
1       Yes
2       NaN
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [16]:
imputer = SimpleImputer(strategy = 'most_frequent')
imputer.fit(df.iloc[:,3:].values)
df.iloc[:,3:] = imputer.transform(df.iloc[:,3:].values)
df.iloc[:,3:]

  Purchased
0       Yes
1       Yes
2       Yes
3        No
4       Yes
5       Yes
6        No
7       Yes
8        No
9       Yes

In [19]:
imputer = SimpleImputer(strategy = 'most_frequent')
imputer.fit(df)
df = imputer.transform(df)
df

array([['France', 44.0, 72000.0, 'Yes'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['France', 30.0, 54000.0, 'Yes'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 48000.0, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 27.0, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No'],
       ['France', 37.0, 67000.0, 'Yes']], dtype=object)