In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
import statistics

In [10]:
df = sns.load_dataset("mpg")

In [5]:
data = [1,1,1,2,3,4,4,4,5,6,7,7,7,7,8]

In [6]:
statistics.mean(data)

4.466666666666667

In [7]:
statistics.mode(data)

7

In [8]:
statistics.median(data)

4

In [13]:
df[df["weight"]==1985]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
239,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
244,43.1,4,90.0,48.0,1985,21.5,78,europe,volkswagen rabbit custom diesel
246,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
349,34.1,4,91.0,68.0,1985,16.0,81,japan,mazda glc 4

In [12]:
df["name"]=="ford_pinto"

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Name: name, Length: 398, dtype: bool