In [3]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo
df = pd.read_csv('gdp.csv')

## GDP of all countries

In [9]:
fig = px.line(df, x = 'Year',y = 'Value',title='GDP analysis of Countries',color = 'Country Name')
pyo.plot(fig ,filename = 'Countries.html',auto_open=False)

'Countries.html'

## GDP comparison of India and China

In [15]:
c1 = df[df['Country Name']=='India']
c2 = df[df['Country Name']=='China']

In [17]:
df_pr = pd.concat([c1,c2],axis=0)

In [18]:
df_pr

     Country Name Country Code  Year         Value
6074        India          IND  1960  3.653593e+10
6075        India          IND  1961  3.870910e+10
6076        India          IND  1962  4.159907e+10
6077        India          IND  1963  4.777600e+10
6078        India          IND  1964  5.572687e+10
...           ...          ...   ...           ...
4098        China          CHN  2012  8.560547e+12
4099        China          CHN  2013  9.607224e+12
4100        China          CHN  2014  1.048237e+13
4101        China          CHN  2015  1.106467e+13
4102        China          CHN  2016  1.119915e+13

[114 rows x 4 columns]

In [19]:
fig = px.line(df_pr, x = 'Year',y = 'Value',title='GDP analysis of India|China',color = 'Country Name')
pyo.plot(fig ,filename = 'IndiaVchina.html',auto_open=False)

'IndiaVchina.html'

In [20]:
c1 = df[df['Country Name']=='India']
c2 = df[df['Country Name']=='China']

df_pr = pd.concat([c1,c2],axis=0)

fig = px.line(df_pr, x = 'Year',y = 'Value',title='GDP analysis of India & China',color = 'Country Name')
pyo.plot(fig ,filename = 'India & china.html',auto_open=False)

'India & china.html'